RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA] 

#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://www.ecoles-musique-67.com/$2

#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ https://www.ecoles-musique-67.com/$3 [R=301,L]